# Copier ce fichier en .env et remplir les valeurs

# Base de données locale (Docker)
DEV_DB_HOST=mysql-server
DEV_DB_USER=root
DEV_DB_PASS=root
DEV_DB_NAME=Miamy
DEV_URL=http://localhost/Miamy

# Base de données production
PROD_DB_HOST=localhost
PROD_DB_USER=
PROD_DB_PASS=
PROD_DB_NAME=
PROD_URL=https://miamy.fr

# Sécurité
BASE_SALT=
